AMADEUS_DIALOGUE_PROVIDER=
AMADEUS_DIALOGUE_MODEL=
AMADEUS_DIALOGUE_API_KEY=
AMADEUS_DIALOGUE_BASE_URL=

AMADEUS_DECISION_PROVIDER=
AMADEUS_DECISION_MODEL=
AMADEUS_DECISION_API_KEY=
AMADEUS_DECISION_BASE_URL=

AMADEUS_MEMORY_PROVIDER=
AMADEUS_MEMORY_MODEL=
AMADEUS_MEMORY_API_KEY=
AMADEUS_MEMORY_BASE_URL=

AMADEUS_MEMORY_SEMANTIC_EMBEDDING_PROVIDER=
AMADEUS_MEMORY_SEMANTIC_EMBEDDING_MODEL=
AMADEUS_MEMORY_SEMANTIC_EMBEDDING_API_KEY=
AMADEUS_MEMORY_SEMANTIC_EMBEDDING_BASE_URL=
AMADEUS_MEMORY_SEMANTIC_EMBEDDING_DIMENSIONS=
AMADEUS_MEMORY_SEMANTIC_EMBEDDING_TIMEOUT_SECONDS=

AMADEUS_MCP_SERVERS_JSON=

AMADEUS_INTERNAL_TOOLS_TRUST_ENV=true
AMADEUS_INTERNAL_TOOLS_VERIFY_SSL=true
AMADEUS_INTERNAL_TOOLS_ALLOW_INSECURE_TLS_FALLBACK=true
